<!DOCTYPE html>
{% include 'credits.html' %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="PWNER.IO is the latest up and coming cyber marketplace for all your pwning needs!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="/static/assets/logo.png" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="icon" href="/static/assets/pwner.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/constants.css" />
    <title>PWNER.IO</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="site-wrap">

        <div class="main noSelect mw-2">
            <h1 class="text-center"> Welcome To <label class="red">PWNER</label></h1>
            <p class="mb-2 text-center">Site is under construction and isnt completely live. You may still check out some of our pages to see what
            we're up to.</p>

            <h1 class="red text-center mt-2 mb-2">TEAM</h1>
            <div class="md grid grid-cols-2 gap-5" id="team-members"></div>
            
        </div>
        
    </div>
</body>
<script>    
    function displayPinned(pinned) {
        for(var i of pinned){
            let newPost = document.createElement("div");
            let name = i.name;
            let position = i.position;
            let description  = i.description;
            let tr = `<div class="p-3 bg-5 hover-scale-up"><h1 class="pg">${name}</h1><h5 class="red mb-half">${position}</h5><h3>${description}</h3></div>`;
            $(newPost).html(`${tr}`);
            $("#team-members").append(newPost);
        }
    }
    $(document).ready(function() {
        fetch('./static/data/about.json')
        .then(response => response.json())
        .then(data => displayPinned(data));
    })
</script>
</html>