<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="{%meta.description%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="{%meta.image%}" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="icon" href="/static/assets/pwner.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/constants.css" />
    <title>{%meta.title%}</title>
</head>
<body>
</body>
</html>